{% extends "distanceapp/base.html" %}

{% block app_content %}
<h1>About</h1>
<img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/17424730_1894764914114030_2837988603477848763_n.jpg?oh=a52327aacd5deae6d064f91dbfe1ed70&oe=5B00C130"
height="200" width="200">
<p>Joseph Browning is a Civil Engineering M.S. student at Brigham Young University. He currently doing research on identifying highway curves
    with worse crash histories. In his spare time, he enjoys hiking around the mountains and deserts of Utah.
    If you have any questions or comments, please send him an email at jbrowning789@gmail.com</p>
{% endblock %}